@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
html{
  scroll-behavior: smooth;
}
nav, .navlinks{
  display: flex;
}
nav{
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}
.navlinks li{
  
  list-style: none;
}
.navlinks li a{
  color: black;
  text-decoration: none;

}
.navlinks li a:hover{
  cursor: pointer;
  color:grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
}
.navlinks{
  gap: 2rem;
  font-size: 17px;
}
.logo{
  font-size: 25px;
}
.logo:hover{
  cursor: default;
}
#resnavbar{
  display: none;
}
.resmenu{
  position: relative;
  display: inline-block;
}
.resicon{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}
.resicon span{
  width: 100%;
  height: 2px;
  background-color: black;
}
.reslinks li{
list-style: none;
margin-top: 10px;
}
.reslinks li a{
  text-decoration: none;
  color: black;
  display: block;
  align-items: center;
  
}

.reslinks{
  position: absolute;
  top: 100%;
  right: 0%;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
}

.reslinks.open{
  max-height: 300px;
}
.resicon.open span:first-child{
  transform: rotate(45deg) translate(10px 5px);
}
.resicon.open span:nth-child(2){
  opacity: 0;
}
.resicon.open span:last-child{
  transform: rotate(-45deg) translate(10px -5px);
}
.resicon span:first-child{
  transform: none;
}
.resicon span:first-child{
  opacity: 1;
}
.resicon span:first-child{
  transform: none;
}
section{
  padding-top: 4vh;
  height:96vh;
  margin: 0 10rem;
}
.section-container{
  display: flex;
}

/* profile section */

#profile{
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
  
}
.profilepic{
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}
.profilepic img{
  border-radius: 50%;
}
.myprofiletext{
align-self: center;
align-items: center;
}
.social-icons{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}
.social-icons img{
  cursor: pointer;
  height: 50px;
  width: 50px;
}
.contact-buttons button{
  background-color: aliceblue;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}
.contact-buttons button:hover{
  color: white;
   background-color:black;
   transition: 0.5s;
}
#about{
  position: relative;
}
.about-container{
  gap: 2rem;
}
.about-container{
  display: flex;
  justify-content: space-around;
  padding-top: 15vh;
}
.about-text img{
  height: 50px;
  width: 50px;
}
.about-details{
  display: flex;
  flex-direction: column;
}
.about-text{
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  align-items: center;
}
.about-details p{
  margin-top: 50px;
}
.project-details img{
  height: 200px;
  width: 200px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px black;
  
}
.projects-section{
  display: flex;
  justify-content: space-around;
}
.project-details{
  border: 2px solid black;
  border-radius: 10px;
  padding:30px;
  height: 50vh;
  align-items: center;
  position: relative;
}
.projects{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-details h3,button{
  margin-top: 30px;

}
.projects-section{
  padding-top: 50px;
}
.project-details button{
  padding: 10px;
  border-radius: 10px;
  background-color: whitesmoke;
  width: 100px;
}
.project-details button:hover{
  background-color: black;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}
.contact-ctnr img{
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.contact-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  align-items: center;
}
.contact-upper-ctnr{
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  border-radius: 10px;
  height: 100px;
  width: 900px;
  padding: 40px;
}
.contact-ctnr a{
  text-decoration: none;
  cursor: pointer;
  color: coral;

}
.contact-ctnr a:hover{
  color: black;
}
footer nav{
  display: flex;
  flex-direction: column;

}
footer p{
  font-size: smaller;
  margin-bottom: 20px;
  font-weight: 200;
}
